<div class="appContainer">
    <div class="topImgContainer">
        <img class="headerImg rotateImg" src="assets/Group5.png"/>
        <img class="textImg" src="assets/Group4.png"/>
    </div>
    
    <div class="question">
        <span class="Qclass" innerHTML="Q:{{currQuestionNUmber}}  "></span>
        <span class="QTextclass" innerHTML="{{questionText}}"></span>
    </div>
    
    <div class='container'>
        <app-rectangle-component *ngFor="let answer of scrambleAnswers, let i = index" (click)="updatePressedStatus($event,i)" class="rectangleClass" [ngClass]="{answeredRight:(pressedOk && isRightAnswer && answerPressed == i), answeredWrong: (pressedOk && !isRightAnswer && answerPressed == i) , recPressed: answerPressed == i, recUnpressed: answerPressed != i, recSelected: (answerPressed == i && !pressedOk)}" [img]="img" [answerText]="answer" [pressedOk]="pressedOk" [showImg]="answerPressed == i"></app-rectangle-component>
    </div>
    
    <div class="submitContainer">
        <div (click)="submitAnswer()" class="ellipse" [ngClass]="hasPressedAnswer() ? 'answerPressedColor' : 'answerUnpressedColor'">
            <div class="buttonText">{{buttonText}}</div>
        </div>
    </div>
    
    <div class="questionsCountContainer">
        <div [ngClass]="x < currQuestionNUmber ? 'dotFilled' : 'dotEmpty'" class="dots" *ngFor="let dot of ' '.repeat(questionsNumber).split(''), let x = index"></div>
    </div>
    
    <div class="bottomImg">
        <img class="headerImg" src="assets/Group5.png"/>
    </div>            
</div>
