/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
}

app-root {
    height: 100%;
    width: 100%;
    display: inline-block;
}

body {
    overflow: hidden;
}